@using DevelopmentPlanner.Web.Models;

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-default" id="btnReset">Reset</button>
    </div>
    <div class="col-md-12">



        <div id="grid"></div>

        <div id="chart"></div>

        <div id="pivotgrid-chart"></div>
        <div id="pivotgrid"></div>

    </div>
</div>

@section scripts
    {
    @*<script src="~/js/app/datagrid.js"></script>*@
    <script src="~/js/app/pivotgrid.js"></script>
}
<script>




</script>
